@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hammersmith+One&family=Noto+Sans&display=swap');

@font-face {font-family: "BrownGothicW01-CdBold"; src: url("../fonts/Brown Gothic W01 Cd Bold/@font-face/87f05b64c70766cf2b516603dfae4e80.eot"); src: url("../fonts/Brown Gothic W01 Cd Bold/@font-face/87f05b64c70766cf2b516603dfae4e80.eot?#iefix") format("embedded-opentype"), url("../fonts/Brown Gothic W01 Cd Bold/@font-face/87f05b64c70766cf2b516603dfae4e80.woff2") format("woff2"), url("../fonts/Brown Gothic W01 Cd Bold/@font-face/87f05b64c70766cf2b516603dfae4e80.woff") format("woff"), url("../fonts/Brown Gothic W01 Cd Bold/@font-face/87f05b64c70766cf2b516603dfae4e80.ttf") format("truetype"), url("../fonts/Brown Gothic W01 Cd Bold/@font-face/87f05b64c70766cf2b516603dfae4e80.svg#BrownGothicW01-CdBold") format("svg"); }


#poke_details .btn.btn-primary { color : white }

.modal-title
{
    font-family: 'BrownGothicW01-CdBold', sans-serif;
}

.pokemon-evolution, .pokemon-evolution__step {
    align-items: center;
    display: flex;
    justify-content: center;
}
.pokemon-evolution {
    flex: 2 0;
}

.pokemon-evolution__id {
    color: #a39f99;
    margin-top: 5px;
    text-align:center;
}
.pokemon-evolution__name {
    font-weight: 500;
    text-align : center;
    margin: 5px 0;
}

.pokemon-evolution__group>.pokemon-evolution__step:nth-child(2):nth-last-child(2)>.pokemon-evolution__arrow, .pokemon-evolution__group>.pokemon-evolution__step:nth-child(3):nth-last-child(3)>.pokemon-evolution__arrow, .pokemon-evolution__group>.pokemon-evolution__step:only-child>.pokemon-evolution__arrow {
    -webkit-transform: none;
    transform: none;
}
.pokemon-evolution__arrow {
    margin-right: 20px;
    width: 26px;
}


.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

#poke_details .pokemon-card__info
{
    height: 100%;
}
#poke_details .pokemon-card__header
{
   height: 231px;
}
#poke_details .pokemon-card__img
{
    top: 48%;
}
#poke_details .pokemon-card
{
    align-items: initial;
}
#poke_details .pokemon-card__name { font-size: 26px;  }

.hide {
    display: none !important;
}
.wrap {
  align-items: center;
    background-color: #eeec;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 9;
}

.ball {
  animation: ball-bounce 1s infinite;
  height: 200px;
  position: relative;
  width: 200px;
  z-index: 2;
}

.ball__top {
  background: #ee1515;
    border-top: 7px solid black;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.ball__top:before {
  content: '';
  animation: ball-before-anim 1s infinite;
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.25) 29%,rgba(255,255,255,0) 70%);
  display: block;
  height: 30px;
  position: absolute;
  width: 30px;
  z-index: 4;
}

.ball__button {
      background-color: white;
    border-radius: 50%;
    border: 5px solid black;
    display: block;
    height: 28px;
    left: calc(50% - 15px);
    position: absolute;
    top: calc(50% - 10px);
    width: 28px;
    z-index: 3;
}

.ball__bottom {
  background: #ffffff;
    border-top: 7px solid black;
    bottom: 7px;
    display: block;
    height: calc(50% - 7px);
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2;
}

.ball__bottom:after {
  content: '';
  animation: ball-after-anim 1s infinite;
  background: linear-gradient(to bottom, transparent 0%,#999999 100%);
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.ballShadow {
  animation: ball-shadow 1s infinite;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  height: 20px;
  position: relative;
  width: 120px;
  z-index: 1;
}

@keyframes ball-bounce {
  0% {
    bottom: 30px;
    clip-path: ellipse(22% 32% at 50% 50%);
  }
  50% {
    bottom: -50px;
  }
  70% {
    bottom: -50px;
    clip-path: ellipse(31% 18% at 50% 50%);
  }
  100% {
    bottom: 30px;
    clip-path: ellipse(22% 32% at 50% 50%);
  }
}

@keyframes ball-shadow {
  0% {
    bottom: 30px;
    clip-path: ellipse(22% 34% at 50% 50%);
  }
  70% {
    bottom: 25px;
    clip-path: ellipse(31% 18% at 50% 50%);
  }
  100% {
    bottom: 30px;
    clip-path: ellipse(22% 34% at 50% 50%);
  }
}

@keyframes ball-before-anim {
  0% {
    height: 30px;
    left: 50%;
    top: 45%;
    width: 30px;
  }
  50% {
    height: 45px;
    left: 47%;
    top: 52%;
    width: 45px;
  }
  70% {
    height: 45px;
    left: 47%;
    top: 52%;
    width: 45px;
  }
  100% {
    height: 30px;
    left: 50%;
    top: 45%;
    width: 30px;
  }
}

@keyframes ball-after-anim {
  0% {
    background: linear-gradient(to bottom, transparent 0%, #555 100%);
    height: 60%;
  }
  50% {
    background: linear-gradient(to bottom, transparent 0%, #777 100%);
    height: 100%;
  }
  70% {
    background: linear-gradient(to bottom, transparent 0%, #777 100%);
    height: 100%;
  }
  100% {
    background: linear-gradient(to bottom, transparent 0%, #555 100%);
    height: 60%;
  }
}

.pokemon-filter
{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    padding: 10px;
}


.btn.-primary
{
    background: #17a2b8;
    color: white;
}
.btn.-default:hover {
    background-color: #e9e8e7;
}
.btn.-default {
    background-color: #f8f7f7;
    color: #66625c;
}
.btn.-bug {
    color: #9cb820;
}
.pokemon-filter>* {
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100%;
}
.btn {
    -webkit-transition-property: background-color,color;
    transition-property: background-color,color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-family: Rubik,sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 1.25;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BrownGothicW01-CdBold', sans-serif;
}
.btn.-default.-active
{
    background-color:#ced4da
}

.btn.-normal {
    color: #a8a8a8;
}

.btn.-bug:hover {
    background-color: rgba(156,184,32,.2);
}

.btn.-bug.-active {
    background-color: rgba(156,184,32,.2);
    color: #66625c;
}

.btn.-normal:hover {
    background-color: hsla(0,0%,65.9%,.2);
}

.btn.-fighting {
    color: #c03028;
}

.btn.-fighting:hover {
    background-color: rgba(192,48,40,.2);
}

.btn.-fighting.-active {
    background-color: #c03028;
}

.btn.-normal.-active {
    background-color: #a8a8a8;
}

.btn.-flying.-active {
    background-color: #9096f0;
}


.btn.-flying {
    color: #9096f0;
}

.btn.-flying:hover {
    background-color: rgba(144,150,240,.2);
}

.btn.-poison.-active {
    background-color: #a040a0;
}

.btn.-poison {
    color: #a040a0;
}

.btn.-poison:hover {
    background-color: rgba(160,64,160,.2);
}

.btn.-ground.-active {
    background-color: #e0b668;
}

.btn.-ground:hover {
    background-color: rgba(224,182,104,.2);
}

.btn.-ground {
    color: #e0b668;
}
.btn.-rock.-active {
    background-color: #b8a038;
}

.btn.-rock:hover {
    background-color: rgba(184,160,56,.2);
}

.btn.-rock {
    color: #b8a038;
}

.btn.-ghost.-active {
    background-color: #705898;
}

.btn.-ghost:hover {
    background-color: rgba(112,88,152,.2);
}

.btn.-ghost {
    color: #705898;
}

.btn.-steel.-active {
    background-color: #6d8f9c;
}

.btn.-steel:hover {
    background-color: rgba(109,143,156,.2);
}

.btn.-steel {
    color: #6d8f9c;
}

.btn.-fire.-active {
    background-color: #f08030;
}

.btn.-fire:hover {
    background-color: rgba(240,128,48,.2);
}

.btn.-fire {
    color: #f08030;
}

.btn.-water.-active {
    background-color: #6890f0;
}

.btn.-water:hover {
    background-color: rgba(104,144,240,.2);
}

.btn.-water {
    color: #6890f0;
}

.btn.-grass.-active {
    background-color: #22c02a;
}
.btn.-grass:hover {
    background-color: rgba(34,192,42,.2);
}
.btn.-grass {
    color: #22c02a;
}
.btn.-electric.-active {
    background-color: #c09643;
}
.btn.-electric:hover {
    background-color: rgba(192,150,67,.2);
}
.btn.-electric {
    color: #c09643;
}

.btn.-psychic.-active {
    background-color: #eb2d77;
}
.btn.-psychic:hover {
    background-color: rgba(235,45,119,.2);
}
.btn.-psychic {
    color: #eb2d77;
}
.btn.-ice.-active {
    background-color: #98d8d8;
}
.btn.-ice:hover {
    background-color: rgba(152,216,216,.2);
}
.btn.-ice {
    color: #98d8d8;
}
.btn.-dragon.-active {
    background-color: #7038f8;
}
.btn.-dragon:hover {
    background-color: rgba(112,56,248,.2);
}
.btn.-dragon {
    color: #7038f8;
}
.btn.-dark.-active {
    background-color: #504843;
}
.btn.-dark:hover {
    background-color: rgba(80,72,67,.2);
}
.btn.-dark {
    color: #504843;
}
.btn.-fairy.-active {
    background-color: #f09ad9;
}
.btn.-fairy:hover {
    background-color: rgba(240,154,217,.2);
}
.btn.-fairy {
    color: #f09ad9;
}
.btn.-active {
    color: #fff;
}



.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}
.pokemon-card__graph.-high
{
    background-color: #5aaf33;
}

#content {
    width: 100% !important
}
.pokemon-card__abilities
{
    font-family: 'Noto Sans', sans-serif;
    font-size : 16px
}

.pokemon-card__id{
   font-family: 'Hammersmith One', sans-serif;
}

.pokemon-card__name
{
    font-family: 'Do Hyeon', sans-serif;
}

.pokemon-card:nth-of-type(2n) {
    background-color: #f8f7f7;
}

.pokemon-list {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.pokemon-card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px 20px;
}

* {
    box-sizing: border-box;
}

.pokemon-card__info {
    background: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 60px #e9e8e7;
    flex: 0 0 300px;
    margin-left: 20px;
    margin-right: 60px;
    position: relative;
    text-align: center;
    padding: 20px;
}

.pokemon-card__header {
    position: relative;
}

.pokemon-card__header .pokemon-card__img {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.pokemon-card__img {
    align-items: center;
    display: flex;
    -webkit-filter: drop-shadow(4px 4px 4px rgba(4,8,12,.2));
    filter: drop-shadow(4px 4px 4px rgba(4,8,12,.2));
    flex: 0 0 128px;
    justify-content: center;
    min-height: 96px;
    min-width: 96px;
}

img {
    display: block;
    max-width: 100%;
}

.pokemon-type.-fire {
    color: #f08030;
}

.pokemon-type.-flying {
    color: #9096f0;
}

.pokemon-type.-poison {
    color: #a040a0;
}

.pokemon-type.-grass {
    color: #22c02a;
}
.pokemon-type.-normal {
    color: #a8a8a8;
}

.pokemon-type.-fighting {
    color: #c03028;
}

.pokemon-type.-ground {
    color: #e0b668;
}

.pokemon-type.-rock {
    color: #b8a038;
}

.pokemon-type.-bug {
    color: #9cb820;
}

.pokemon-type.-ghost {
    color: #705898;
}

.pokemon-type.-steel {
    color: #6d8f9c;
}

.pokemon-type.-water {
    color: #6890f0;
}
.pokemon-type.-electric {
    color: #c09643;
}
.pokemon-type.-psychic {
    color: #eb2d77;
}
.pokemon-type.-ice {
    color: #98d8d8;
}

.pokemon-type.-dragon {
    color: #7038f8;
}

.pokemon-type.-dark {
    color: #504843;
}
.pokemon-type.-fairy {
    color: #f09ad9;
}

.pokemon-type+.pokemon-type:before {
    background-color: #a39f99;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 5px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    width: 5px;
}






.pokemon-card__id {
    color: #e9e8e7;
    font-size: 76px;
    font-weight: 500;
}

.pokemon-card__name {
    font-size: 20px;
    font-weight: 500;
    margin-top: -10px;
}

.pokemon-card__genus {
    font-size: 13px;
}
p {
    margin-bottom: 10px;
    margin-top: 0;
}

.pokemon-card__ability+.pokemon-card__ability {
    margin-left: 10px;
}

.pokemon-types {
    font-family: 'Hammersmith One', sans-serif;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.pokemon-stat.-height {
    left: -10px;
}
.pokemon-stat {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 10px 10px 60px #e9e8e7;
    font-size: 13px;
    font-weight: 500;
    line-height: 60px;
    position: absolute;
    top: -10px;
    width: 60px;
}

.pokemon-stat.-weight {
    right: -10px;
}
.pokemon-stat {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 10px 10px 60px #e9e8e7;
    font-size: 13px;
    font-weight: 500;
    line-height: 60px;
    position: absolute;
    top: -10px;
    width: 60px;
}

.pokemon-card__abilities {
    margin-bottom: 20px;
    margin-top: 5px;
}

.pokemon-card__table {
    margin-right: 60px;
}

.pokemon-card__table td:first-child {
    color: #a39f99;
}
.pokemon-card__table td {
    text-align: right;
}
table td {
    padding: 5px 10px;
}

.pokemon-card__table td:nth-child(2) {
    width: 50px;
}

.pokemon-card__graph-wrapper {
    background-color: #e9e8e7;
    border-radius: 3px;
    overflow: hidden;
    width: 200px;
}

.pokemon-card__graph.-low {
    background-color: #de4141;
}

.pokemon-card__graph {
    background-color: #33aeaf;
    height: 10px;
    position: relative;
}


