{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load custom_tags %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/dashboard.css" %}">
<link href="{% static 'admin/home.css' %}" rel="stylesheet">
{% endblock %}


{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.0.1-dist/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}"/>

{% endblock %}


{% block scripts %}
{{block.super}}
<script src="{% static 'bootstrap-5.0.1-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/admin_home.js' %}"></script>
{% endblock %}


{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}

{% endblock %}

{% block userlinks %}
<a href="{% url 'admin:index' %}">{% translate 'Settings' %}</a> /
{{block.super}}
{% endblock %}

{% block content %}

<a href="{% url 'details-add' %}" target="_blank" class="btn -primary"  type="button">
    Add Pokemon
</a>

<div class="row">


    <div class="col-md-2">

        <div class="pokemon-filter" id="pokemon-filter">
            <button class="btn -default -active" type="button" data-value="">All</button>
            {% for per in poke_type %}
            <button class="btn -default -{{per.name|lower}}" data-value="{{per.name|lower}}" type="button">
                {{per.name|title}}
            </button>
            {% endfor %}
        </div>

    </div>

    <div class="col-md-10" style="position:relative">

        <section class="wrap loader hide">
            <div class="ball">
                <div class="ball__top"></div>
                <div class="ball__button"></div>
                <div class="ball__bottom"></div>
            </div>
            <div class="ballShadow"></div>
        </section>

        <div class="pokemon-list">

            <section id="pokemon-cards">
                {% for per in poke_all %}
                <div class="pokemon-card">
                    <div class="pokemon-card__info">
                        <div class="pokemon-card__header">
                            <div class="pokemon-card__img"><img
                                    src="{{per.img_front_default}}"
                                    alt="charmander"></div>
                            <div class="pokemon-card__id">#{{per.poke_id|poke_id_format}}</div>
                        </div>
                        <div class="pokemon-card__name">{{per.name|title}}</div>
                        <div class="pokemon-types">
                            {% for per_type in per.get_types %}
                            <span class="pokemon-type -{{per_type.name|lower}}">{{per_type.name|upper}}</span>
                            {% endfor %}

                        </div>

                    </div>


                    <table class="pokemon-card__table" cellspacing="0">
                        <tbody>
                        {% for per_stats in per.get_stats %}

                        <tr>
                            <td><strong>{{per_stats.name|title}}</strong></td>
                            <td>{{per_stats.base_state}}/100</td>
                            <td>
                                <div class="pokemon-card__graph-wrapper">
                                    <div class="pokemon-card__graph -{{per_stats.base_state|progress_stats}}"
                                         style="width: {{per_stats.base_state}}%;"></div>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <button class="btn -primary show_details" data-value="{{per.id}}" type="button">Show details
                    </button>
                </div>
                {% endfor %}
            </section>

        </div>


    </div>

</div>


{% endblock %}

