{% load custom_tags %}

{% for per in poke_type %}

<div class="pokemon-card">
    <div class="pokemon-card__info">
        <div class="pokemon-card__header">
            <div class="pokemon-card__img"><img
                    src="{{per.pokemon.img_front_default}}"
                    alt="charmander"></div>
            <div class="pokemon-card__id">#{{per.pokemon.poke_id|poke_id_format}}</div>
        </div>
        <div class="pokemon-card__name">{{per.pokemon.name|title}}</div>
        <div class="pokemon-types">
            {% for per_type in per.pokemon.get_types %}
            <span class="pokemon-type -{{per_type.name|lower}}">{{per_type.name|upper}}</span>
            {% endfor %}
        </div>
    </div>


    <table class="pokemon-card__table" cellspacing="0">
        <tbody>
        {% for per_stats in per.pokemon.get_stats %}

        <tr>
            <td><strong>{{per_stats.name|title}}</strong></td>
            <td>{{per_stats.base_state}}/100</td>
            <td>
                <div class="pokemon-card__graph-wrapper">
                    <div class="pokemon-card__graph -{{per_stats.base_state|progress_stats}}"
                         style="width: {{per_stats.base_state}}%;"></div>
                </div>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
    <button class="btn -primary show_details" data-value="{{per.pokemon.id}}" type="button">Show details</button>

</div>


{% endfor %}
