{% load custom_tags %}

<div class="modal fade " id="poke_details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pokemon Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="pokemon-card">
                    <div class="pokemon-card__info">
                        <div class="pokemon-card__header">
                            <div class="pokemon-card__img">
                                {% if details.img_dream_world %}
                                <img src="{{details.img_dream_world}}" title="dream_world"></div>
                            {% elif details.img_official_artwork %}
                            <img src="{{details.img_official_artwork}}" title="official"></div>
                        {% else %}
                        <img src="{{details.img_front_default}}" title="default"></div>
                    {% endif %}

                    <div class="pokemon-card__id">#{{details.poke_id|poke_id_format}}</div>
                </div>
                <div class="pokemon-card__name">{{details.name|title}}</div>
                <div class="pokemon-types">
                    {% for per_type in details.get_types %}
                    <span class="pokemon-type -{{per_type.name|lower}}">{{per_type.name|upper}}</span>
                    {% endfor %}

                </div>
                <div class="pokemon-card__abilities">
                    {% for per_ability in details.get_abilities %}
                    <span class="badge badge-secondary">{{per_ability.name|title}}</span>
                    {% endfor %}


                </div>
            </div>

            <div class="pokemon-card__table" style="width:58%">

                {% if details.details %}

                <b>Description</b>
                <p class="mt-1">{{details.details}}</p>

                {% endif %}

                {% if details.form_details %}

                <b>Form description</b>
                <p class="mt-1">{{details.form_details}}</p>

                {% endif %}

                {% if details.get_moves %}

                <b>Forms</b>

                <p>


                    {% for forms in details.get_forms|to_nested_loops %}

                <div class="pokemon-evolution">
                    <div class="pokemon-evolution__step">
                        <div>
                            <div class="pokemon-card__img"><img
                                    src="{{forms.value.img_front_default}}"></div>
                            <div class="pokemon-evolution__id">#{{forms.value.poke_id|poke_id_format}}</div>
                            <div class="pokemon-evolution__name">{{forms.value.name|title}}</div>
                            <div class="pokemon-types">
                                {% for per_type in forms.value.get_types %}
                                <span class="pokemon-type -{{per_type.name|lower}}">{{per_type.name|upper}}</span>
                                {% endfor %}
                            </div>
                        </div>

                        {% if forms.items %}

                        {% for per in forms.items %}

                        <div class="pokemon-evolution__group">
                            <div class="pokemon-evolution__step">
                                <svg class="pokemon-evolution__arrow" viewBox="0 0 26 13">
                                    <path d="M20.854.146a.5.5 0 0 0-.707.707L24.293 5 .5 5a.5.5 0 0 0 0 1h23.793l-4.146 4.145a.5.5 0 0 0 .708.707l5-5a.5.5 0 0 0 0-.707L20.854.146z"></path>
                                </svg>
                                <div>
                                    <div class="pokemon-card__img"><img
                                            src="{{per.value.img_front_default}}"></div>
                                    <div class="pokemon-evolution__id">#{{per.value.poke_id|poke_id_format}}</div>
                                    <div class="pokemon-evolution__name">{{per.value.name|title}}</div>
                                    <div class="pokemon-types">
                                        {% for per_type in per.value.get_types %}
                                        <span class="pokemon-type -{{per_type.name|lower}}">{{per_type.name|upper}}</span>
                                        {% endfor %}
                                    </div>
                                </div>

                                {% if per.items %}

                                {% for per in per.items %}

                                <div class="pokemon-evolution__group">
                                    <div class="pokemon-evolution__step">
                                        <svg class="pokemon-evolution__arrow" viewBox="0 0 26 13">
                                            <path d="M20.854.146a.5.5 0 0 0-.707.707L24.293 5 .5 5a.5.5 0 0 0 0 1h23.793l-4.146 4.145a.5.5 0 0 0 .708.707l5-5a.5.5 0 0 0 0-.707L20.854.146z"></path>
                                        </svg>
                                        <div>
                                            <div class="pokemon-card__img"><img
                                                    src="{{per.value.img_front_default}}"></div>
                                            <div class="pokemon-evolution__id">#{{per.value.poke_id|poke_id_format}}
                                            </div>
                                            <div class="pokemon-evolution__name">{{per.value.name|title}}</div>
                                            <div class="pokemon-types">
                                                {% for per_type in per.value.get_types %}
                                                <span class="pokemon-type -{{per_type.name|lower}}">{{per_type.name|upper}}</span>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        {% if per.items %}

                                        {% for per in per.items %}

                                        <div class="pokemon-evolution__group">
                                            <div class="pokemon-evolution__step">
                                                <svg class="pokemon-evolution__arrow" viewBox="0 0 26 13">
                                                    <path d="M20.854.146a.5.5 0 0 0-.707.707L24.293 5 .5 5a.5.5 0 0 0 0 1h23.793l-4.146 4.145a.5.5 0 0 0 .708.707l5-5a.5.5 0 0 0 0-.707L20.854.146z"></path>
                                                </svg>
                                                <div>
                                                    <div class="pokemon-card__img"><img
                                                            src="{{per.value.img_front_default}}"></div>
                                                    <div class="pokemon-evolution__id">
                                                        #{{per.value.poke_id|poke_id_format}}
                                                    </div>
                                                    <div class="pokemon-evolution__name">{{per.value.name|title}}</div>
                                                    <div class="pokemon-types">
                                                        {% for per_type in per.value.get_types %}
                                                        <span class="pokemon-type -{{per_type.name|lower}}">{{per_type.name|upper}}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        {% endfor %}

                                        {% endif %}

                                    </div>
                                </div>

                                {% endfor %}

                                {% endif %}


                            </div>
                        </div>

                        {% endfor %}


                        {% endif %}


                    </div>
                </div>

                {% endfor %}


                </p>


                <b>Moves</b>

                <p class="mt-1">
                    {% for move in details.get_moves %}
                    <span class="badge badge-secondary" style="font-size:17px;margin:1px">{{move.name}}</span>
                    {% endfor %}
                </p>

                {% endif %}


            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-value="{{details.id}}" id="delete_poke">Delete</button>
            <a href="{% url 'details-update' pk=details.id %}" target="_blank" type="button" class="btn btn-primary">Update</a>
        </div>
    </div>
</div>
</div>

</div>
